{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Привет всем, меня зовут Щелков Влад, я являюсь автором проекта.
  Буду честен, на 20.04.22 я все еще отстаю по дедлайнам и времени на статику и прочее , к сожалению нет :(
  Прошу простить меня за простоту статичных шаблонов и может быть, я вернусь к ним и все исправлю!
  Обо мне: отучился 9 классов без троек, не особо увлекаясь учебой. Поступил в нефтяной техникум, отучился отличником, потому что так получилось :D Поступил на вышку геологом, устроился работать геофизиком.    
  Спустя 2 года понял, что эта отрасль мне не интересна.Забил на учебу, ушел в криптомир, появился инетерес к разработке и вот я тут перед вами.  
</p>
{% endblock %} 