{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>Секретных технологий в этом блоке я не применял, лишь воспользовался информацией в практикуме.
       Поначалу было тяжело с шаблонами html, но исправляя их каждый раз на ревью, кажутся уж и не такими тяжкими. С чем пока у меня недопонимание, так это с моделями и формами - вот бы уметь применять все параметры и валидаторы сходу, не копаясь по 30 мин.
    </p>
  </article>
</div>
{% endblock %} 