{% extends 'base.html' %}
{% load cache %}
{% block title %}
  Страница избранных авторов
{% endblock %}
{% block content %}
  {% include 'posts/includes/switcher.html' with follow=True %}
  <div class="container py-5">
    <h3> Последние обновления на сайте </h3>
    {% cache 20 page_obj.number %}
    {% for post in page_obj %}
      {% include 'posts/includes/post_info.html' %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'includes/paginator.html' %}
    {% endcache %} 
  </div> 
{% endblock %}
